ITA-Update_2026_Q1/Stammdateien/SDOPS/SDOPS_V1.00/Schema/sdops_header_V1.00.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) von Kassenärztliuche Bundesvereinigung (Kassenärztliche Bundesvereinigung) bearbeitet -->
<xs:schema xmlns="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<xs:include schemaLocation="ehd_header_V1.40.xsd"/>
	<xs:complexType name="sdops_header_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_header_typ">
				<xs:sequence>
					<xs:element name="id" type="id_typ"/>
					<xs:element ref="document_type_cd"/>
					<xs:element name="service_tmr" type="service_tmr_typ"/>
					<xs:element name="origination_dttm" type="origination_dttm_typ"/>
					<xs:element ref="provider" maxOccurs="unbounded"/>
					<xs:element ref="interface"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
