Abrechnung/1-Click-Abrechnung/KIM/Sammelerklaerung/eSE/Schnittstelle/Schema/software_ssu_typelib.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2009 sp1 (http://www.altova.com) von RSP (Kassenärztliche Bundesvereinigung) bearbeitet -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Hr. Usorov (KBV) -->
<!-- automatische Dokumentation, generiert durch Visual Source Safe 
	$Workfile: software_ssu_typelib.xsd $  
	$Modtime: 25.05.04 17:41 $  
	$Revision: 10 $  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn::sciphox-org/sciphox" xmlns:sciphox="urn::sciphox-org/sciphox" xmlns:kbv="urn::hl7-org/kbv" xmlns:kbvlib="urn:kbv/kbv/typelib/001" xmlns:cda="urn::hl7-org/cda" targetNamespace="urn::sciphox-org/sciphox" elementFormDefault="qualified">
	<!--	******************** local-header-software-typ ******************** -->
	<xs:element name="sciphox-ssu" type="ssu-software-typ"/>
	<xs:complexType name="dmp_software_ssu_typ">
		<xs:sequence>
			<xs:element ref="sciphox-ssu"/>
		</xs:sequence>
		<xs:attribute name="ignore" type="xs:string" use="required" fixed="all"/>
		<xs:attribute name="descriptor" type="xs:string" use="required" fixed="sciphox"/>
	</xs:complexType>
	<!--	******************** ssu-software-typ ******************** -->
	<xs:complexType name="ssu-software-typ">
		<xs:annotation>
			<xs:appinfo>sciphox-SSU: software</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Software" type="software-typ"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" fixed="software"/>
		<xs:attribute name="country" type="xs:string" use="required" fixed="de"/>
		<xs:attribute name="version" type="xs:string" use="required" fixed="v1"/>
	</xs:complexType>
	<!-- ******************** software-typ ******************** -->
	<xs:complexType name="software-typ">
		<xs:annotation>
			<xs:appinfo>Sammelelement fuer Angaben zur eingesetzten Software in der Arztpraxis</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="software-id-typ"/>
			<xs:element name="SoftwareName" type="SoftwareName_typ" minOccurs="0"/>
			<xs:element name="SoftwareVersion" type="SoftwareVersion_typ" minOccurs="0"/>
			<xs:element name="SoftwareTyp" type="SoftwareTyp_typ" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************** software_xsd_typ ******************** -->
	<xs:complexType name="software_xsd_typ">
		<xs:annotation>
			<xs:appinfo>Angaben zur verwendeten XML-Schnittstelle</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SoftwareName" type="SoftwareName_xsd_typ"/>
			<xs:element name="SoftwareVersion" type="SoftwareVersion_xsd_typ"/>
			<xs:element name="SoftwareTyp">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>XSD-Typ</xs:appinfo>
					</xs:annotation>
					<xs:attribute name="V" type="xs:string" use="required" fixed="XSD"/>
					<xs:attribute name="DN" type="xs:string" use="optional" fixed="XML-Schema"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Software" type="software_xpm_typ" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************** software_xsd_typ ******************** -->
	<xs:complexType name="software_xpm_typ">
		<xs:annotation>
			<xs:appinfo>Angaben zum verwendeten XPM-Modul</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SoftwareName" type="SoftwareName_xpm_typ"/>
			<xs:element name="SoftwareVersion" type="SoftwareVersion_xpm_typ"/>
			<xs:element name="SoftwareTyp">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>XPM-Typ</xs:appinfo>
					</xs:annotation>
					<xs:attribute name="V" type="xs:string" use="required" fixed="XPM"/>
					<xs:attribute name="DN" type="xs:string" use="optional" fixed="XML-Pruefmodul"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************** software-id-typ (enthält KBV-Prüfnummer der Software) ******************** -->
	<!-- Der Typ wird in jedem DMP seperat umdefiniert -->
	<xs:complexType name="software-id-typ">
		<xs:attribute name="EX" type="xs:string" use="required"/>
		<xs:attribute name="RT" type="xs:string" use="required" fixed="KBV-Prüfnummer"/>
	</xs:complexType>
	<!--******************** SoftwareName_typ ******************** -->
	<xs:complexType name="SoftwareName_typ">
		<xs:annotation>
			<xs:appinfo>Name der Software</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="xs:string" use="required"/>
	</xs:complexType>
	<!--******************** SoftwareName_xsd_typ ******************** -->
	<xs:complexType name="SoftwareName_xsd_typ">
		<xs:annotation>
			<xs:appinfo>Name der XML-Schnittstelle</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="xs:string" use="required"/>
	</xs:complexType>
	<!--******************** SoftwareName_xpm_typ ******************** -->
	<xs:complexType name="SoftwareName_xpm_typ">
		<xs:annotation>
			<xs:appinfo>Name des XML-Prüfmoduls</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- ******************** SoftwareVersion_typ ******************** -->
	<xs:complexType name="SoftwareVersion_typ">
		<xs:annotation>
			<xs:appinfo>Version der eingesetzten Software</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- ******************** SoftwareVersion_xsd_typ ******************** -->
	<xs:complexType name="SoftwareVersion_xsd_typ">
		<xs:annotation>
			<xs:appinfo>Version der XML-Schnittstelle</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- ******************** SoftwareVersion_xpm_typ ******************** -->
	<xs:complexType name="SoftwareVersion_xpm_typ">
		<xs:annotation>
			<xs:appinfo>Version der XML-Pruefmoduls</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- ******************** Type SoftwareTyp ******************** -->
	<xs:complexType name="SoftwareTyp_typ">
		<xs:annotation>
			<xs:appinfo>Typ der eingesetzten Software</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PVS"/>
					<xs:enumeration value="AVS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DN" type="xs:string" use="optional"/>
	</xs:complexType>
	<!-- ******************** Type Kontakt******************** -->
</xs:schema>
