Vorquartale/ITA-Update_2025_Q3/Medizinische-Dokumentationen/Kapselendoskopie/Schnittstelle_QSKE_V1.00/Schema/software_ssu_typelib_V1.00.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Hr. Usorov (KBV) -->
<!-- automatische Dokumentation, generiert durch Visual Source Safe 
	$Workfile: software_ssu_typelib.xsd $  
	$Modtime: 25.05.04 17:41 $  
	$Revision: 10 $  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn::sciphox-org/sciphox" xmlns:sciphox="urn::sciphox-org/sciphox" xmlns:kbv="urn::hl7-org/kbv" xmlns:kbvlib="urn:kbv/kbv/typelib/001" xmlns:cda="urn::hl7-org/cda" targetNamespace="urn::sciphox-org/sciphox" elementFormDefault="qualified">
	<!--	******************** local-header-software-typ ******************** -->
	<xs:element name="sciphox-ssu" type="ssu-software-typ"/>
	<!--	******************** ssu-software-typ ******************** -->
	<xs:complexType name="ssu-software-typ">
		<xs:annotation>
			<xs:appinfo>sciphox-SSU: software</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Software" type="software-typ"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" fixed="software"/>
		<xs:attribute name="country" type="xs:string" use="required" fixed="de"/>
		<xs:attribute name="version" type="xs:string" use="required" fixed="v1"/>
	</xs:complexType>
	<!-- ******************** software-typ ******************** -->
	<xs:complexType name="software-typ">
		<xs:annotation>
			<xs:appinfo>Sammelelement fuer Angaben zur eingesetzten Software in der Arztpraxis</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="software-id-typ"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************** software_xsd_typ ******************** -->
	<xs:complexType name="software_xsd_typ">
		<xs:annotation>
			<xs:appinfo>Angaben zur verwendeten XML-Schnittstelle</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SoftwareName" type="SoftwareName_xsd_typ"/>
			<xs:element name="SoftwareVersion" type="SoftwareVersion_xsd_typ"/>
			<xs:element name="SoftwareTyp">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>XSD-Typ</xs:appinfo>
					</xs:annotation>
					<xs:attribute name="V" type="string_max_60_typ" use="required" fixed="XSD"/>
					<xs:attribute name="DN" type="string_max_60_typ" use="optional" fixed="XML-Schema"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Software" type="software_xpm_typ" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************** software_xsd_typ ******************** -->
	<xs:complexType name="software_xpm_typ">
		<xs:annotation>
			<xs:appinfo>Angaben zum verwendeten XPM-Modul</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SoftwareName" type="SoftwareName_xpm_typ"/>
			<xs:element name="SoftwareVersion" type="SoftwareVersion_xpm_typ"/>
			<xs:element name="SoftwareTyp">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>XPM-Typ</xs:appinfo>
					</xs:annotation>
					<xs:attribute name="V" type="string_max_60_typ" use="required" fixed="XPM"/>
					<xs:attribute name="DN" type="string_max_60_typ" use="optional" fixed="XML-Pruefmodul"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************** software-id-typ (enthält KBV-Prüfnummer der Software) ******************** -->
	<!-- Der Typ wird in jedem DMP seperat umdefiniert -->
	<xs:complexType name="software-id-typ">
		<xs:attribute name="EX" type="kbv-software-pruefnummer-typ" use="required"/>
		<xs:attribute name="RT" type="xs:string" use="required" fixed="KBV-Prüfnummer"/>
	</xs:complexType>
	<xs:simpleType name="kbv-software-pruefnummer-typ">
		<xs:restriction base="string_max_60_typ">
			<xs:pattern value="[XYZV]/60/\d{2}(0[1-9]|1[012])/\d{2}/[A-Za-z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--******************** SoftwareName_typ ******************** -->
	<xs:complexType name="SoftwareName_typ">
		<xs:annotation>
			<xs:appinfo>Name der Software</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="string_max_60_typ" use="required"/>
	</xs:complexType>
	<!--******************** SoftwareName_xsd_typ ******************** -->
	<xs:complexType name="SoftwareName_xsd_typ">
		<xs:annotation>
			<xs:appinfo>Name der XML-Schnittstelle</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="string_max_60_typ" use="required"/>
	</xs:complexType>
	<!--******************** SoftwareName_xpm_typ ******************** -->
	<xs:complexType name="SoftwareName_xpm_typ">
		<xs:annotation>
			<xs:appinfo>Name des XML-Prüfmoduls</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="string_max_60_typ" use="required"/>
	</xs:complexType>
	<!-- ******************** SoftwareVersion_typ ******************** -->
	<xs:complexType name="SoftwareVersion_typ">
		<xs:annotation>
			<xs:appinfo>Version der eingesetzten Software</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="string_max_60_typ" use="required"/>
	</xs:complexType>
	<!-- ******************** SoftwareVersion_xsd_typ ******************** -->
	<xs:complexType name="SoftwareVersion_xsd_typ">
		<xs:annotation>
			<xs:appinfo>Version der XML-Schnittstelle</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="string_max_60_typ" use="required"/>
	</xs:complexType>
	<!-- ******************** SoftwareVersion_xpm_typ ******************** -->
	<xs:complexType name="SoftwareVersion_xpm_typ">
		<xs:annotation>
			<xs:appinfo>Version der XML-Pruefmoduls</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="string_max_60_typ" use="required"/>
	</xs:complexType>
	<!-- ******************** Type SoftwareTyp ******************** -->
	<xs:complexType name="SoftwareTyp_typ">
		<xs:annotation>
			<xs:appinfo>Typ der eingesetzten Software</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="V" type="string_max_60_typ" use="required" fixed="PVS"/>
		<xs:attribute name="DN" type="string_max_60_typ" use="optional" fixed="Arztpraxissoftware"/>
	</xs:complexType>
	<!-- ******************** Type Kontakt******************** -->
	<xs:simpleType name="string_max_60_typ">
		<xs:annotation>
			<xs:documentation>String mit maximal 60 Zeichen (darf nicht leer sein)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
