Vorquartale/ITA-Update_2025_Q3/Abrechnung/xpm-kvdt-praxis-2025.3.3/XPM_KVDT.Praxis/Schema/xdttypen.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--
		Basistypen
	-->
	<!-- Abrechnungsart -->
	<xsd:simpleType name="ABRECHNUNGSART">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Abrechnungsgebiet -->
	<xsd:simpleType name="ABRGEB">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="00"/>
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="07"/>
			<xsd:enumeration value="08"/>
			<xsd:enumeration value="09"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="14"/>
			<xsd:enumeration value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Altersgrenze -->
	<xsd:simpleType name="ALTERSGRENZE">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(t[0-3][0-9][0-9])|(j[0-1][0-9][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Datumsangabe in der Form TTMMJJJJ -->
	<xsd:simpleType name="DATUM">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:pattern value="(((((0[1-9]|[12][0-9]|3[01])(0[13578]|10|12))|((0[1-9]|[12][0-9]|30)(0[469]|11))|((0[1-9]|1[0-9]|2[0-8])(02)))((1[89](\d{2}))|([2-9](\d{3}))))|((29)(02)((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Datumsangaben in der Form JJJJMMTT -->
	<xsd:simpleType name="DATUM_NEU">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:pattern value="(((((1[89](\d{2}))|([2-9](\d{3})))(((0[13578]|10|12)(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|((02)(0[1-9]|1[0-9]|2[0-8])))))|(((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))(02)(29)))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Datumsangaben in der Form JJJJMMTT ohne Jahres-Plausibilitätsprüfung -->
	<xsd:simpleType name="DATUM_ISO">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:pattern value="\d{4}(0[0-9]|1[012])(0[0-9]|[12][0-9]|3[01])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Diagnosensicherheit: Verdacht auf, Zustand nach,ausgeschlossen und gesicherte Diagnose -->
	<xsd:simpleType name="DIAGNOSE">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="V"/>
			<xsd:enumeration value="Z"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="G"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- DMP-Kennzeichnung (DMP) -->
	<xsd:simpleType name="DMP">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="X"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Datumsangaben in der Form TTMMJJJJTTMMJJJJ -->
	<xsd:simpleType name="DOPPEL_DATUM">
		<xsd:restriction base="xsd:long">
			<xsd:pattern value="(((((0[1-9]|[12][0-9]|3[01])(0[13578]|10|12))|((0[1-9]|[12][0-9]|30)(0[469]|11))|((0[1-9]|1[0-9]|2[0-8])(02)))((1[89](\d{2}))|([2-9](\d{3}))))|((29)(02)((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))))(((((0[1-9]|[12][0-9]|3[01])(0[13578]|10|12))|((0[1-9]|[12][0-9]|30)(0[469]|11))|((0[1-9]|1[0-9]|2[0-8])(02)))((1[89](\d{2}))|([2-9](\d{3}))))|((29)(02)((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Datumsangaben in der Form JJJJMMTTJJJJMMTT -->
	<xsd:simpleType name="DOPPEL_DATUM_NEU">
		<xsd:restriction base="xsd:long">
			<xsd:pattern value="(((((1[89](\d{2}))|([2-9](\d{3})))(((0[13578]|10|12)(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|((02)(0[1-9]|1[0-9]|2[0-8])))))|(((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))(02)(29)))(((((1[89](\d{2}))|([2-9](\d{3})))(((0[13578]|10|12)(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|((02)(0[1-9]|1[0-9]|2[0-8])))))|(((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))(02)(29)))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Datumsangabe in der Form TTMMJJJJ (TT=Tag, MM=Monat, JJJJ=Jahr) und
	   - zusätzlich erlaubter Wertebereich: 00MMJJJJ, 0000JJJJ, 00000000 -->
	<xsd:simpleType name="ERSATZ_DATUM">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:pattern value="(((((0[1-9]|[12][0-9]|3[01])(0[13578]|10|12))|((0[1-9]|[12][0-9]|30)(0[469]|11))|((0[1-9]|1[0-9]|2[0-8])(02)))((1[89](\d{2}))|([2-9](\d{3}))))|((29)(02)((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))))|(00(0[1-9]|1[0-2])[1-2][0-9]{3})|(0000[1-2][0-9]{3})|00000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Datumsangabe in der Form JJJJMMTT (TT=Tag, MM=Monat, JJJJ=Jahr) und
	   - zusätzlich erlaubter Wertebereich: JJJJMM00, JJJJ0000 und 00000000 -->
	<xsd:simpleType name="ERSATZ_DATUM_NEU">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:pattern value="(((((1[89](\d{2}))|([2-9](\d{3})))(((0[13578]|10|12)(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|((02)(0[1-9]|1[0-9]|2[0-8])))))|(((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))(02)(29)))|[1-2][09][0-9][0-9](([0][0-9])|10|11|12)00|[0]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gebührennummer -->
	<xsd:simpleType name="GNR">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{5}[A-Z]{0,1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gebührenordnung (GO) -->
	<xsd:simpleType name="GO">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ICD-Codes in der Form: ann, ann.n, ann.nn, ann.n- -->
	<xsd:simpleType name="ICD_CODE">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="6"/>
			<!--xsd:pattern value="[A-Z][0-9]{2}|[A-Z][0-9]{2}\.([0-9]{1,2}|[0-9]-)"/-->
			<!--xsd:pattern value="[A-Z][0-9]{2}|[A-Z][0-9]{2}\.([0-9]{1,2}|[0-9]-)|[A-Z]{3}"/-->
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ICD-Codes in der Form ann, ann.n, ann.-, ann.n- und ann.nn -->
	<xsd:simpleType name="ICD_CODE_STAMM">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([A-Z][0-9]{2}|[A-Z][0-9]{2}.([0-9]{1,2}|[0-9]-|-))|UUU"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Institutionskennzeichen (IK) -->
	<xsd:simpleType name="IK">
		<xsd:restriction base="xsd:long">
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Ja/nein Angabe -->
	<xsd:simpleType name="JA_NEIN">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Art des Fehlers beim Altersbezug -->
	<xsd:simpleType name="KANN_MUSS_FEHLER">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="k"/>
			<xsd:enumeration value="m"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Kostenträger-Abrechnungsbereich (KTAB) -->
	<xsd:simpleType name="KTAB">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="00"/>
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="07"/>
			<xsd:enumeration value="08"/>
			<xsd:enumeration value="09"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Kostenträger-Gruppenausschluß (KTGA) -->
	<xsd:simpleType name="KTGA">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="35"/>
			<xsd:enumeration value="59"/>
			<xsd:enumeration value="71"/>
			<xsd:enumeration value="72"/>
			<xsd:enumeration value="73"/>
			<xsd:enumeration value="75"/>
			<xsd:enumeration value="76"/>
			<xsd:enumeration value="77"/>
			<xsd:enumeration value="81"/>
			<xsd:enumeration value="82"/>
			<xsd:enumeration value="84"/>
			<xsd:enumeration value="85"/>
			<xsd:enumeration value="86"/>
			<xsd:enumeration value="87"/>
			<xsd:enumeration value="88"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- KV-Bereich -->
	<xsd:simpleType name="KV_BEREICH">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="00"/>
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="17"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="38"/>
			<xsd:enumeration value="46"/>
			<xsd:enumeration value="47"/>
			<xsd:enumeration value="48"/>
			<xsd:enumeration value="49"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="51"/>
			<xsd:enumeration value="52"/>
			<xsd:enumeration value="55"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="61"/>
			<xsd:enumeration value="62"/>
			<xsd:enumeration value="71"/>
			<xsd:enumeration value="72"/>
			<xsd:enumeration value="73"/>
			<xsd:enumeration value="74"/>
			<xsd:enumeration value="78"/>
			<xsd:enumeration value="83"/>
			<xsd:enumeration value="88"/>
			<xsd:enumeration value="93"/>
			<xsd:enumeration value="98"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Leistungskennzeichen -->
	<xsd:simpleType name="LEISTUNG_KZ">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d|[A-Z]|#|$|&lt;|&gt;|\*|k){1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Datumsformat MMJJ -->
	<xsd:simpleType name="MONAT_JAHR">
		<xsd:restriction base="xsd:unsignedShort">
			<xsd:pattern value="(0[1-9]|1[0-2])[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 0 bis 1 -->
	<xsd:simpleType name="NUMMER0_BIS_1">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 0 bis 2 -->
	<xsd:simpleType name="NUMMER0_BIS_2">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 0 bis 3 -->
	<xsd:simpleType name="NUMMER0_BIS_3">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 0 bis 4 -->
	<xsd:simpleType name="NUMMER0_BIS_4">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NUMMER1_BIS_12_OHNE_2">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NUMMER0_BIS_11">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 0 bis 3 ohne 1-->
	<xsd:simpleType name="NUMMER0_BIS_3_OHNE_1">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 1 bis 7 -->
	<xsd:simpleType name="NUMMER1_BIS_4">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 1 -->
	<xsd:simpleType name="NUMMER1">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NUMMER0">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Nummerisches Feld der Länge 1 -->
	<xsd:simpleType name="NUMMER_LEN_1">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NUMMER_1_BIS_6">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Nummerisches Feld mit Inhalt 1 -->
	<xsd:simpleType name="NUMMERWERT1">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 1 bis 2 -->
	<xsd:simpleType name="NUMMER1_BIS_2">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld von 1 bis 3 -->
	<xsd:simpleType name="NUMMER1_BIS_3">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 1 bis 2 -->
	<xsd:simpleType name="NUMMER_LEN_1_BIS_2">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 1 bis 4 -->
	<xsd:simpleType name="NUMMER_LEN_1_BIS_4">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 2 -->
	<xsd:simpleType name="NUMMER2">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 2, > 0 -->
	<xsd:simpleType name="NUMMER2_POSITIV">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99"/>
			<xsd:pattern value="\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 2, > 1 -->
	<xsd:simpleType name="NUMMER2_POSITIV_AB_2">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="02"/>
			<xsd:maxInclusive value="99"/>
			<xsd:pattern value="\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 3 -->
	<xsd:simpleType name="NUMMER3">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 3 -->
	<xsd:simpleType name="NUMMER_1_bis_3">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 3, > 0 -->
	<xsd:simpleType name="NUMMER3_POSITIV">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="999"/>
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NUMMER_LEN_BIS_3">
		<xsd:restriction base="xsd:string">
           <xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 4 -->
	<xsd:simpleType name="NUMMER4">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 5 -->
	<xsd:simpleType name="NUMMER5">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld mit max.Länge 5 -->
	<xsd:simpleType name="NUMMER1_BIS_5">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 6 -->
	<xsd:simpleType name="NUMMER6">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 7 -->
	<xsd:simpleType name="NUMMER7">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 1 bis 7 -->
	<xsd:simpleType name="NUMMER1_BIS_7">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nummerisches Feld der Länge 9 -->
	<xsd:simpleType name="NUMMER9">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NUMMER8">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
		<xsd:simpleType name="E063">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="555555\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Nur 1 ist zugelassen -->
	<xsd:simpleType name="NUR_1">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Packungsgröße -->
	<xsd:simpleType name="PACKUNG">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="N1"/>
			<xsd:enumeration value="N2"/>
			<xsd:enumeration value="N3"/>
			<xsd:enumeration value="kA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- PLZ -->
	<xsd:simpleType name="PLZ">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Pseudo Gebührennummer -->
	<xsd:simpleType name="PSEUDO_GNR">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Praxistyp -->
	<xsd:simpleType name="PRAXISTYP">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Quartalsangaben in der Form QJJJJ -->
	<xsd:simpleType name="QUARTAL">
		<xsd:restriction base="xsd:int">
			<xsd:pattern value="[1-4][1-2][0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Seitenlokalisation: rechts, links und beiderseits -->
	<xsd:simpleType name="SEITENLOKALISATION">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="B"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Sortierkriterien -->
	<xsd:simpleType name="SORTIERUNG">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Scheinuntergruppe (SU) -->
	<xsd:simpleType name="SU">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="00"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="21"/>
			<xsd:enumeration value="23"/>
			<xsd:enumeration value="24"/>
			<xsd:enumeration value="26"/>
			<xsd:enumeration value="27"/>
			<xsd:enumeration value="28"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="31"/>
			<xsd:enumeration value="32"/>
			<xsd:enumeration value="41"/>
			<xsd:enumeration value="42"/>
			<xsd:enumeration value="43"/>
			<xsd:enumeration value="44"/>
			<xsd:enumeration value="45"/>
			<xsd:enumeration value="46"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der Länge 1 -->
	<xsd:simpleType name="TEXT1">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der Länge 2 -->
	<xsd:simpleType name="TEXT2">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der Länge 3 -->
	<xsd:simpleType name="TEXT3">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TEXT4">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
		<!-- Alphanummerisches Feld der Länge 12 -->
	<xsd:simpleType name="TEXT12_ODER_14">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".{12}|.{14}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 2 -->
	<xsd:simpleType name="TEXT_BIS_2">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 3 -->
	<xsd:simpleType name="TEXT_BIS_3">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 10 -->
	<xsd:simpleType name="TEXT_BIS_10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der exakten Länge 10 -->
	<xsd:simpleType name="TEXT_10">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der exakten Länge 64 -->
	<xsd:simpleType name="TEXT_64">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="64"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 10 -->
	<xsd:simpleType name="TEXT_BIS_9">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TEXT_BIS_8">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TEXT_BIS_6">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GNR_REGEL042">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{5}[A-Z]?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TEXT_BIS_12">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 15 -->
	<xsd:simpleType name="TEXT_BIS_15">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 20 -->
	<xsd:simpleType name="TEXT_BIS_20">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 28 -->
	<xsd:simpleType name="TEXT_BIS_28">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="28"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 40 -->
	<xsd:simpleType name="TEXT_BIS_40">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 45 -->
	<xsd:simpleType name="TEXT_BIS_45">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 46 -->
	<xsd:simpleType name="TEXT_BIS_46">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="46"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 60 -->
	<xsd:simpleType name="TEXT_BIS_60">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TEXT_5_BIS_60">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 70 -->
	<xsd:simpleType name="TEXT_BIS_70">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 70 -->
	<xsd:simpleType name="TEXT_BIS_100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Alphanummerisches Feld der maximalen Länge 512 -->
	<xsd:simpleType name="TEXT_BIS_512">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Versichertennummer 6-12-stellig -->
	<xsd:simpleType name="VERS_NUMMER">
		<xsd:restriction base="xsd:long">
			<xsd:pattern value="\d{6,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- VKNR -->
	<xsd:simpleType name="VKNR">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- KV-Bereich -->
	<xsd:simpleType name="WOP">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="00"/>
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="17"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="38"/>
			<xsd:enumeration value="46"/>
			<xsd:enumeration value="47"/>
			<xsd:enumeration value="48"/>
			<xsd:enumeration value="49"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="51"/>
			<xsd:enumeration value="52"/>
			<xsd:enumeration value="55"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="61"/>
			<xsd:enumeration value="62"/>
			<xsd:enumeration value="71"/>
			<xsd:enumeration value="72"/>
			<xsd:enumeration value="73"/>
			<xsd:enumeration value="78"/>
			<xsd:enumeration value="83"/>
			<xsd:enumeration value="88"/>
			<xsd:enumeration value="93"/>
			<xsd:enumeration value="98"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Zeitangabe in der Form HHMM -->
	<xsd:simpleType name="ZEIT">
		<xsd:restriction base="xsd:unsignedShort">
			<xsd:maxInclusive value="2359"/>
			<xsd:pattern value="[0-2][0-9][0-5][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Zone bei Besuchen -->
	<xsd:simpleType name="ZONE">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Z1"/>
			<xsd:enumeration value="Z2"/>
			<xsd:enumeration value="Z3"/>
			<xsd:enumeration value="Z4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Gültige Datumsangaben in der Form JJJJMMTTHHMMSS -->
	<xsd:simpleType name="TIMESTAMP_ONLINEPRUEFUNG">
		<xsd:restriction base="xsd:unsignedLong">
			<xsd:pattern value="(((((1[89](\d{2}))|([2-9](\d{3})))(((0[13578]|10|12)(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|((02)(0[1-9]|1[0-9]|2[0-8])))))|(((1[89]0[48])|(1[89][2468][048])|(1[89][13579][26])|([2468][048]00)|([2-9][0-9]0[48])|([2-9][0-9][2468][048])|([2-9][0-9][13579][26])|([3579][26]00))(02)(29)))[0-2][0-9][0-5][0-9][0-5][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ERGEBNIS_ONLINEPRUEFUNG">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ERRORCODE_ONLINEPRUEFUNG">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{0,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRUEFZIFFER_FACHDIENST">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HDRG_LEISTUNG">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][0-9][0-9][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
