Medizinische-Dokumentationen/Depression/xpm-dmp-depression-2026.1.0/XPM_Depression.Voll/Schema/ErgebnistexteDE.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) von Kassenärztliche Bundesvereinigung (Kassenärztliche Bundesvereinigung) bearbeitet -->
<xs:schema xmlns="urn::sciphox-org/sciphox" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn::sciphox-org/sciphox" elementFormDefault="qualified">
	<!-- Schema -->
	<xs:simpleType name="Einschreibungwegen">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KHK"/>
			<xs:enumeration value="Diabetes mellitus Typ 1"/>
			<xs:enumeration value="Diabetes mellitus Typ 2"/>
			<xs:enumeration value="Asthma bronchiale"/>
			<xs:enumeration value="COPD"/>
			<xs:enumeration value="Chronische Herzinsuffizienz"/>
			<xs:enumeration value="Depression"/>
			<xs:enumeration value="chronischer Rückenschmerz"/>
			<xs:enumeration value="Osteoporose"/>
			<xs:enumeration value="rheumatoide Arthritis"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Begleiterkrankungen">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Keine der genannten Erkrankungen"/>
			<xs:enumeration value="Arterielle Hypertonie"/>
			<xs:enumeration value="Fettstoffwechselstörung"/>
			<xs:enumeration value="Diabetes mellitus"/>
			<xs:enumeration value="KHK"/>
			<xs:enumeration value="AVK"/>
			<xs:enumeration value="Chronische Herzinsuffizienz"/>
			<xs:enumeration value="Asthma bronchiale"/>
			<xs:enumeration value="COPD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Raucher">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ja"/>
			<xs:enumeration value="Nein"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SchweregradzuBeginnderaktuellendepressivenEpisode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aktuell keine depressive Episode"/>
			<xs:enumeration value="Leicht"/>
			<xs:enumeration value="Mittelgradig"/>
			<xs:enumeration value="Schwer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DauerderaktuellendepressivenEpisode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Mehr als zwei Jahre persistierend"/>
			<xs:enumeration value="Weniger als zwei Jahre persistierend"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Suizidalitaeteingeschaetzt">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ja"/>
			<xs:enumeration value="Nein"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AktuellePsychotherapie">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ja"/>
			<xs:enumeration value="Nein"/>
			<xs:enumeration value="Geplant"/>
			<xs:enumeration value="Nicht gewünscht"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AktuellemedikamentoeseTherapiemitAntidepressiva">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aktuell andauernd, seit weniger als 9 Monaten"/>
			<xs:enumeration value="Aktuell andauernd, Fortführung über neun Monate hinaus"/>
			<xs:enumeration value="Nein"/>
			<xs:enumeration value="Vor Ablauf von neun Monaten abgebrochen"/>
			<xs:enumeration value="Nach mehr als neun Monaten abgeschlossen"/>
			<xs:enumeration value="Kontraindikation"/>
			<xs:enumeration value="Nicht gewünscht"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BereitsvorEinschreibungindasDMPaneinerdepressionsspezifischenSchulungteilgenommen">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ja"/>
			<xs:enumeration value="Nein"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DepressionsspezifischeSchulungempfohlenbeiaktuellerDokumentation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ja"/>
			<xs:enumeration value="Nein"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DepressionsspezifischeSchulungwahrgenommen">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Digitales Selbstmanagement-Programm"/>
			<xs:enumeration value="Präsenzgruppenschulung"/>
			<xs:enumeration value="Nein"/>
			<xs:enumeration value="War aktuell nicht möglich"/>
			<xs:enumeration value="Bei letzter Dokumentation keine Schulung empfohlen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VomPatientgewuenschteInfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Tabakverzicht"/>
			<xs:enumeration value="Ernährungsberatung"/>
			<xs:enumeration value="Körperliches Training"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dokumentationsintervall">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Quartalsweise"/>
			<xs:enumeration value="Jedes zweite Quartal"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
