Medizinische-Dokumentationen/Asthma/xpm-dmp-asthma-2026.1.0/XPM_Asthma.Voll/Schema/DMP_Asthma_bronchiale_SSUS.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) von KBV (Kassenärztliche Bundesvereinigung) bearbeitet -->
<xs:schema xmlns:cda="urn::hl7-org/cda" xmlns:sciphox="urn::sciphox-org/sciphox" xmlns="urn::sciphox-org/sciphox" xmlns:kbv="urn::hl7-org/kbv" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn::sciphox-org/sciphox" elementFormDefault="qualified">
	<xs:import namespace="urn::hl7-org/kbv" schemaLocation="all_kbv_typelib.xsd"/>
	<xs:include schemaLocation="insurance_ssu_typelib.xsd"/>
	<xs:include schemaLocation="Ergebnistexte_EFAB.xsd"/>
	<xs:include schemaLocation="Parameter_EAB.xsd"/>
	<xs:include schemaLocation="DMP_Asthma_bronchiale_software_ssu.xsd"/>
	<!-- ****************************** body ****************************** -->
	<xs:element name="sciphox-ssu">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="observation"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" fixed="observation"/>
			<xs:attribute name="country" type="xs:string" use="required" fixed="de"/>
			<xs:attribute name="version" type="xs:string" use="required" fixed="v1"/>
		</xs:complexType>
	</xs:element>
	<!--	********************* SSU Observation ********************* -->
	<xs:group name="observation">
		<xs:sequence>
			<xs:element ref="Beobachtungen"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="Beobachtungen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Beobachtung" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="u_Parameter">
			<xs:selector xpath="./sciphox:Beobachtung/sciphox:Parameter"/>
			<xs:field xpath="@DN"/>
		</xs:unique>
	</xs:element>
	<xs:element name="Beobachtung">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Parameter"/>
				<xs:element ref="Ergebnistext" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Ergebniswert" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="u_Ergebnistext">
			<xs:selector xpath="./sciphox:Ergebnistext"/>
			<xs:field xpath="@V"/>
		</xs:unique>
		<xs:unique name="u_Ergebniswert">
			<xs:selector xpath="./sciphox:Ergebniswert"/>
			<xs:field xpath="@U"/>
		</xs:unique>
	</xs:element>
	<!-- ***************************** Parameter ******************************** -->
	<xs:element name="Parameter">
		<xs:complexType>
			<xs:attribute name="DN" use="required">
				<xs:simpleType>
					<xs:union memberTypes="AdministrativeDaten Anamnese RelevanteEreignisse Medikamente Schulung Behandlungsplanung"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- *************************** Ergebnistext ************************** -->
	<xs:element name="Ergebnistext">
		<xs:complexType>
			<xs:attribute name="V" use="required">
				<xs:simpleType>
					<xs:union memberTypes="AdministrativeDaten_txt Anamnese_txt AktuelleMedikation_txt Schulungen_txt BehandlungsplanungundvereinbarteZiele_txt"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AdministrativeDaten_txt">
		<xs:union memberTypes="Einschreibungwegen"/>
	</xs:simpleType>
	<xs:simpleType name="Anamnese_txt">
		<xs:union memberTypes="Begleiterkrankungen Raucher HäufigkeitaktuellvorliegenderAsthmaSymptome AktuellerFEV1Wert EinschränkungvonAktivitätenimAlltagwegenAsthmabronchiale AsthmabedingteStörungdesNachtschlafes"/>
	</xs:simpleType>
	<xs:simpleType name="AktuelleMedikation_txt">
		<xs:union memberTypes="KurzwirksameBeta2Sympathomimetikabevorzugtinhalativ InhalativeGlukokortikosteroide InhalativelangwirksameBeta2Sympathomimetika SystemischeGlukokortisteroide SonstigeAsthmatischeMedikation Inhalationstechniküberprüft"/>
	</xs:simpleType>
	<xs:simpleType name="Schulungen_txt">
		<xs:union memberTypes="EmpfohleneAsthmaSchulungWahrgenommen AsthmaSchulungempfohlenbeiaktuellerDokumentation AsthmaSchulungschonvorEinschreibunginDMPbereitswahrgenommen"/>
	</xs:simpleType>
	<xs:simpleType name="BehandlungsplanungundvereinbarteZiele_txt">
		<xs:union memberTypes="Dokumentationsintervall VomPatientgewuenschteInfo SchriftlicherSelbstmanagementPlan Therapieanpassung"/>
	</xs:simpleType>
	<!-- *********************** Ergebniswert ********************** -->
	<xs:element name="Ergebniswert">
		<xs:complexType>
			<xs:attribute name="V" type="kbv:string_max_60_typ" use="required"/>
			<xs:attribute name="U" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="m"/>
						<xs:enumeration value="kg"/>
						<xs:enumeration value="Anzahl"/>
						<xs:enumeration value="mmHg"/>
						<xs:enumeration value="Liter/Minute"/>
						<xs:enumeration value="Prozent des Sollwertes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ****************************** ENDE: body ****************************** -->
</xs:schema>
