ITA-Update_2026_Q1/Stammdateien/SDHDRG/SDHDRG_V2.0.0/Schema/sdhdrg_root_V2.0.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) von Malisch, KBV (Kassenärztliche Bundesvereinigung) bearbeitet -->
<!--
Projekt:  
  Namespace: "urn:ehd/sdhdrg/001", Präfix: sdhdrg

-->
<xs:schema xmlns:ehd="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:ehd/001" xmlns:sdhdrg="urn:ehd/sdhdrg/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<xs:include schemaLocation="keytabs_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der sdhdrg-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="sdhdrg_header_V2.0.0.xsd"/>
	<xs:import namespace="urn:ehd/sdhdrg/001" schemaLocation="sdhdrg_body_V2.0.0.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des ehd-root-Element definiert, welches "header" und "body" sowie "keytabs"
	Elemente enthält.
	======================================================================= -->
	<xs:element name="ehd" type="sdhdrg_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="sdhdrg_body_typ">
		<xs:annotation>
			<xs:documentation>Stammdatei Hybrid DRG</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="sdhdrg:sdhdrg_stammdaten"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sdhdrg_root_typ">
		<xs:sequence>
			<xs:element name="header" type="sdhdrg_header_typ">
				<xs:annotation>
					<xs:documentation>alle Metainformationen zu den Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="sdhdrg_body_typ">
				<xs:annotation>
					<xs:documentation>die eigentlichen Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ehd_version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
