Medizinische-Dokumentationen/eHKS/xpm-hks-2026.1.0/XPM_eHKS/Schema/eHKS_software_ssu.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn::sciphox-org/sciphox" xmlns:kbv="urn::hl7-org/kbv" targetNamespace="urn::sciphox-org/sciphox" elementFormDefault="qualified" version="2.33">
	<xs:import namespace="urn::hl7-org/kbv" schemaLocation="all_kbv_typelib.xsd"/>
	<!-- ****************************** clinical_document_header ****************************** -->
	<xs:redefine schemaLocation="software_ssu_typelib.xsd">
		<xs:complexType name="software-id-typ">
			<xs:complexContent>
				<xs:restriction base="software-id-typ">
					<xs:attribute name="EX" type="kbv-software-pruefnummer-typ" use="required"/>
					<xs:attribute name="RT" type="xs:string" use="required" fixed="KBV-Prüfnummer"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="SoftwareName_xsd_typ">
			<xs:complexContent>
				<xs:restriction base="SoftwareName_xsd_typ">
					<xs:attribute name="V" use="required">
						<xs:simpleType>
							<xs:restriction base="kbv:string_max_60_typ">
								<xs:enumeration value="XSD_EHKS"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="SoftwareName_xpm_typ">
			<xs:complexContent>
				<xs:restriction base="SoftwareName_xpm_typ">
					<xs:attribute name="V" use="required">
						<xs:simpleType>
							<xs:restriction base="kbv:string_max_60_typ">
								<xs:enumeration value="XPM_EHKS"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="SoftwareVersion_xsd_typ">
			<xs:complexContent>
				<xs:restriction base="SoftwareVersion_xsd_typ">
					<xs:attribute name="V" use="required">
						<xs:simpleType>
							<xs:restriction base="kbv:string_max_60_typ">
								<xs:enumeration value="2.33"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<!-- ******************** software-id-typ **********************-->
		<!-- ******************** SoftwareName_xsd_typ **********************-->
		<!-- ******************** SoftwareName_xpm_typ **********************-->
		<!-- ******************** SoftwareVersion_xsd_typ **********************-->
	</xs:redefine>
	<!-- ******************** kbv-software-pruefnummer-typ **********************-->
	<!--Prüfnummer-Komponenten-Code anpassen-->
	<xs:simpleType name="kbv-software-pruefnummer-typ">
		<xs:restriction base="kbv:string_max_60_typ">
			<xs:pattern value="[XYZV]/53/\d{2}(0[1-9]|1[012])/\d{2}/[A-Za-z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ****************************** ENDE: clinical_document_header ****************************** -->
</xs:schema>
