ITA-Update_2026_Q1/Stammdateien/SDKVCA/SDKVCA_V1.20/schema/kvca_root.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!--
  KV Connect Adressen
  Namespace: "urn:ehd/kvca/001", Präfix: kvca

-->
<xs:schema xmlns:ehd="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:ehd/001" xmlns:kvca="urn:ehd/kvca/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der kvca-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="kvca_header.xsd"/>
	<xs:import namespace="urn:ehd/kvca/001" schemaLocation="kvca_body.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des ehd-root-Element definiert, welches "header" und "body"
	Elemente enthält.
	======================================================================= -->
	<xs:element name="ehd" type="kvca_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
		<xs:key name="key_k">
			<xs:selector xpath="ehd:keytabs/ehd:keytab/ehd:key"/>
			<xs:field xpath="@V"/>
			<xs:field xpath="@S"/>
		</xs:key>
		<xs:keyref name="kref_kv_id" refer="ehd:key_k">
			<xs:selector xpath="ehd:body/kvca:institution_liste/kvca:kv/kvca:id"/>
			<xs:field xpath="@EX"/>
			<xs:field xpath="@RT"/>
		</xs:keyref>
		<xs:keyref name="kref_anwendung_id" refer="ehd:key_k">
			<xs:selector xpath="ehd:body/kvca:institution_liste/kvca:kv/kvca:anwendungsliste/kvca:anwendung/kvca:id"/>
			<xs:field xpath="@EX"/>
			<xs:field xpath="@RT"/>
		</xs:keyref>
	</xs:element>
	<!-- ======================================================================= 
	vom Basistyp: ehd_root_typ
  abgeleiteter Typ: kvca_root_typ
	======================================================================= -->
	<xs:complexType name="kvca_root_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_root_typ">
				<xs:sequence>
					<xs:element name="header" type="kvca_header_typ">
						<xs:annotation>
							<xs:documentation>alle Metainformationen zu den Daten</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="kvca_body_typ">
						<xs:annotation>
							<xs:documentation>die eigentlichen Daten</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="keytabs" minOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- ======================================================================= 
	vom Basistyp: ehd_body_typ
  abgeleiteter Typ: kvca_body_typ 
	======================================================================= -->
	<xs:complexType name="kvca_body_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="kvca:institution_liste"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
