Vorquartale/ITA-Update_2025_Q3/Stammdateien/SDHMA/SDHMA_V1.30/SDHMA_V1.30/Schema/sdhma_header.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
  Einbinden der ehd-Bibliotheken
  ======================================================================= -->
	<xs:include schemaLocation="ehd_header_V1.40.xsd"/>
	<!-- ======================================================================= 
  angepasster ehd_header: hm_header (mini-header, besteht aus nur wenigen Elementen)
  ======================================================================= -->
	<xs:complexType name="sdhma_header_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_header_typ">
				<xs:annotation>
					<xs:documentation>service_tmr enthält das Gültigkeitsquartal, 
            origination_dttm enthält das Erstellungsdatum</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element ref="id"/>
					<xs:element name="document_type_cd" type="sdhma_document_type_cd_typ"/>
					<xs:element ref="service_tmr"/>
					<xs:element ref="origination_dttm"/>
					<xs:element ref="provider" maxOccurs="unbounded"/>
					<xs:element name="interface" type="sdhma_interface_typ"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- ======================================================================= 
  angepasster sdhma_document_type_cd_typ  für das Projekt: sdhma
  ======================================================================= -->
	<xs:complexType name="sdhma_document_type_cd_typ">
		<xs:complexContent>
			<xs:restriction base="document_type_cd_typ">
				<xs:attribute name="V" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="sdhma"/>
							<xs:enumeration value="SDHMA"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- ======================================================================= 
  angepasster sdhma_interface_typ für das Projekt: sdhma
  ======================================================================= -->
	<xs:complexType name="sdhma_interface_typ">
		<xs:complexContent>
			<xs:restriction base="interface_typ">
				<xs:annotation>
					<xs:documentation>
               id:
                 'sdhma' ist eindeutiger Schlüssel für die sdhma-Stammdatei
               interface.nm:
                 Grundlage der Stammdatei der KBV; 
               version: Version der Datensatzbeschreibung für die SDHMA-Stammdatei
            </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="interface_id_typ">
									<xs:attribute name="EX" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="SDHMA"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="interface.nm">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="interface_nm_typ">
									<xs:attribute name="V" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="sdhma-Stammdatei"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="version">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="interface_version_typ">
									<xs:attribute name="V" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1.0"/>
												<xs:enumeration value="1.1"/>
												<xs:enumeration value="1.2"/>
												<xs:enumeration value="1.30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="description">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="description_typ">
									<xs:attribute name="V" type="xs:string" use="required"/>
									<xs:attribute name="URL" type="xs:anyURI" use="optional"/>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
