Vorquartale/ITA-Update_2025_Q3/Stammdateien/SDOPS/SDOPS_V1.00/Schema/sdops_root_V1.00.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) von Kassenärztliuche Bundesvereinigung (Kassenärztliche Bundesvereinigung) bearbeitet -->
<xs:schema xmlns:sdops="urn:ehd/sdops/001" xmlns="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ehd="urn:ehd/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der vdx-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="sdops_header_V1.00.xsd"/>
	<xs:import namespace="urn:ehd/sdops/001" schemaLocation="sdops_body_V1.00.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des EHD-root-Element definiert, welches das "header" und "body" sowie "keytabs"
	Elemnte enthält.
	======================================================================= -->
	<xs:element name="ehd" type="ops_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ======================================================================= 
	vdx_root_typ
	das abgeleitete vdx_root_typ des Basistyps: ehd_root_typ
	======================================================================= -->
	<xs:complexType name="ops_root_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_root_typ">
				<xs:sequence>
					<xs:element ref="header"/>
					<xs:element name="body" type="sdops_body_typ">
						<xs:annotation>
							<xs:documentation>die eigentlichen Daten</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- ======================================================================= 
	vdx_body_typ
	das abgeleitete vdx_body_typ des Basistyps: ehd_body_typ
	======================================================================= -->
	<xs:complexType name="sdops_body_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="sdops:opscode_liste"/>
				</xs:sequence>
			</xs:restriction>
			<!--******************************* constraint ************************-->
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="header" type="sdops_header_typ">
		<xs:annotation>
			<xs:documentation>Informationen zur Datei</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="opscode_liste">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sdops:opscode" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
