Stammdateien/SDHM/SDHM_V2.10/Schema/sdhm_root_V2.10.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Projekt:  
  Namespace: "urn:ehd/sdhm/001", Präfix: sdhm

-->
<xs:schema xmlns:ehd="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:ehd/001" xmlns:sdhm="urn:ehd/sdhm/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<xs:include schemaLocation="keytabs_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der sdhm-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="sdhm_header_V2.10.xsd"/>
	<xs:import namespace="urn:ehd/sdhm/001" schemaLocation="sdhm_body_V2.10.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des ehd-root-Element definiert, welches "header" und "body" sowie "keytabs"
	Elemente enthält.
	======================================================================= -->
	<xs:element name="ehd" type="sdhm_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="sdhm_body_typ">
		<xs:annotation>
			<xs:documentation>Stammdatei für die Verordnung von Heilmitteln</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="sdhm:sdhm_stammdaten"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sdhm_root_typ">
		<xs:sequence>
			<xs:element name="header" type="sdhm_header_typ">
				<xs:annotation>
					<xs:documentation>alle Metainformationen zu den Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="sdhm_body_typ">
				<xs:annotation>
					<xs:documentation>die eigentlichen Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="keytabs" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ehd_version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
