Vorquartale/ITA-Update_2025_Q2/Stammdateien/SDVA/SDVA_V1.0/Schema/va_root.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- Mit XMLSpy v2015 rel. 3 sp1 (http://www.altova.com) von Malisch, KBV (Kassenärztliche Bundesvereinigung) bearbeitet -->
<!--
Projekt: ICDStamm 
  Namespace: "urn:ehd/va/001", Präfix: va
-->
<xs:schema xmlns:ehd="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:ehd/001" xmlns:va="urn:ehd/va/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<xs:include schemaLocation="keytabs_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der icd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="va_header.xsd"/>
	<xs:import namespace="urn:ehd/va/001" schemaLocation="va_body.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des ehd-root-Element definiert, welches "header" und "body" sowie "keytabs"
	Elemente enthält.
	======================================================================= -->
	<xs:element name="ehd" type="va_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="va_body_typ">
		<xs:annotation>
			<xs:documentation>
			  Stammdatei für zur Abbildung der Verschlüsselungsanleitung des BfArM
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="va:va_stammdaten"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="va_root_typ">
		<xs:sequence>
			<xs:element name="header" type="va_header_typ">
				<xs:annotation>
					<xs:documentation>alle Metainformationen zu den Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="va_body_typ">
				<xs:annotation>
					<xs:documentation>die eigentlichen Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="keytabs" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ehd_version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- ======================================================================= 
	vom Basistyp: ehd_root_typ
  abgeleiteter Typ: va_root_typ
	======================================================================= -->
	<!-- ======================================================================= 
	vom Basistyp: ehd_body_typ
  abgeleiteter Typ: va_body_typ 
	======================================================================= -->
</xs:schema>
