Vorquartale/ITA-Update_2025_Q2/Abrechnung/1-Click-Abrechnung/KV-Connect/Sammelerklaerung/Sammelerklaerung/eSE_38/Schnittstelle/Schema/eSE_root.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2009 sp1 (http://www.altova.com) von RSP (Kassenärztliche Bundesvereinigung) bearbeitet -->
<!--
Template für ehd_root:
Projekt: ese
Namespace: "urn:ehd/ese/001", Präfix: ese

Namespace und Präfix sind mit tatsächlichen Projektspezifischen zu ersetzen.
Verzeichnispfade überprüfen und gegebenfalls anpassen.
-->
<xs:schema xmlns:ese="urn:ehd/ese/001" xmlns="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ehd="urn:ehd/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<xs:include schemaLocation="keytabs_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der ese-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="eSE_header.xsd"/>
	<xs:import namespace="urn:ehd/ese/001" schemaLocation="eSE_body.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des EHD-root-Element definiert, welches das "header" und "body" sowie "keytabs"
	Elemnte enthält.
	======================================================================= -->
	<xs:element name="ehd" type="ese_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ======================================================================= 
	das abgeleitete ese_root_typ des Basistyps: ehd_root_typ
	======================================================================= -->
	<xs:complexType name="ese_root_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_root_typ">
				<xs:sequence>
					<xs:element name="header" type="ese_header_typ">
						<xs:annotation>
							<xs:documentation>alle Metainformationen zu den Daten</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="ese_body_typ">
						<xs:annotation>
							<xs:documentation>die eigentlichen Daten</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- ======================================================================= 
	ese_body_typ
	das abgeleitete ese_body_typ des Basistyps: ehd_body_typ
	======================================================================= -->
	<xs:complexType name="ese_body_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="ese:ese_data"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
