Medizinische-Dokumentationen/Datenannahmestellen/xpm-dmp-bkr-A-2026.1.0/XPM_Brustkrebs.A/Schema/DMP_Brustkrebs_FD.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Win2000 (KBV) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Win 2000 (KBV) -->
<xs:schema xmlns:cda="urn::hl7-org/cda" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kbvlib="urn:kbv/kbv/typelib/001" xmlns:kbv="urn::hl7-org/kbv" xmlns:sciphox="urn::sciphox-org/sciphox" xmlns="urn::hl7-org/cda" targetNamespace="urn::hl7-org/cda" elementFormDefault="qualified">
	<xs:import namespace="urn::sciphox-org/sciphox" schemaLocation="DMP_Brustkrebs_FD_SSUS.xsd"/>
	<xs:import namespace="urn::hl7-org/kbv" schemaLocation="all_kbv_typelib.xsd"/>
	<xs:import namespace="urn:kbv/kbv/typelib/001" schemaLocation="all_kbvtypelib001_typelib.xsd"/>
	<!-- ****************************** includen und redefine von clinical_document_header ****************************** -->
	<xs:redefine schemaLocation="DMP_Brustkrebs_clinical_document_header_typelib.xsd">
		<xs:simpleType name="v_document_relationship.type_cd_typ">
			<xs:restriction base="v_document_relationship.type_cd_typ">
				<xs:enumeration value="RPLC"/>
			</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="dmp_document_type_cd_typ">
			<xs:complexContent>
				<xs:restriction base="dmp_document_type_cd_typ">
          <xs:attribute name="V" use="required">
            <xs:simpleType>
              <xs:restriction base="kbv:string_max_60_typ">
                <xs:enumeration value="DMP_BRK_EF" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
					<xs:attribute name="S" type="xs:string" use="required" fixed="1.2.276.0.76.5.100"/>
					<xs:attribute name="SN" type="xs:string" use="required" fixed="KBV"/>
					<xs:attribute name="DN" type="xs:string" use="required" fixed="Folge-Dokumentation Brustkrebs"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<!-- ****************************** clinical_document_header ****************************** -->
	<xs:element name="levelone">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="clinical_document_header" type="dmp_clinical_document_header_typ"/>
				<xs:element name="body" type="body_typ"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="k_idRT">
			<xs:selector xpath="./cda:clinical_document_header/cda:id"/>
			<xs:field xpath="@RT"/>
		</xs:key>
	</xs:element>
	<!-- ****************************** body ******************************************************** -->
	<xs:complexType name="body_typ">
		<xs:sequence>
			<xs:element name="section">
				<xs:annotation>
					<xs:appinfo>Abschnitt</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paragraph" type="paragraph-typ" minOccurs="0" maxOccurs="6"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="u_paragraph">
					<xs:selector xpath="./cda:paragraph/cda:caption/cda:caption_cd"/>
					<xs:field xpath="@DN"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ****************************** paragraph-typ ************************************************** -->
	<xs:complexType name="paragraph-typ">
		<xs:annotation>
			<xs:appinfo>Abschnitte: Einschreibung erfolgt wegen, Behandlungsstatus nach operativer Therapie des Primärtumors/kontralateralen Brustkrebses, Seit der letzten Dokumentation neu aufgetretene Ereignisse, Behandlung bei fortgeschrittener Erkrankung (lokoregionäres Rezidiv/Fernmetastasen), Sonstige Befunde, Behandlungsplanung</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="caption" type="paragraph-caption-typ"/>
			<xs:element name="content" type="content-typ"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ****************************** paragraph-caption-typ ***************************************** -->
	<xs:complexType name="paragraph-caption-typ">
		<xs:sequence>
			<xs:element name="caption_cd">
				<xs:annotation>
					<xs:appinfo>Abschnitt Überschrift</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="DN" type="paragraph-caption-v-typ" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ****************************** paragraph-caption-v-typ ****************************** -->
	<xs:simpleType name="paragraph-caption-v-typ">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Einschreibung erfolgte wegen"/>
			<xs:enumeration value="Behandlungsstatus nach operativer Therapie des Primärtumors/kontralateralen Brustkrebses (adjuvante Therapie)"/>
			<xs:enumeration value="Seit der letzten Dokumentation neu aufgetretene Ereignisse"/>
			<xs:enumeration value="Behandlung bei fortgeschrittener Erkrankung (lokoregionäres Rezidiv/Fernmetastasen)"/>
			<xs:enumeration value="Sonstige Befunde"/>
			<xs:enumeration value="Behandlungsplanung"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ****************************** paragraph-einschreibung-typ ****************************** -->
	<xs:complexType name="content-typ">
		<xs:sequence>
			<xs:element name="local_markup">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="sciphox:sciphox-ssu"/>
					</xs:sequence>
					<xs:attribute name="ignore" use="required" fixed="all"/>
					<xs:attribute name="descriptor" use="required" fixed="sciphox"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
