Stammdateien/SDARV/Gesamtpaket_ARV_V4.02/Schema/arv_root_V4.02.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Template für ehd_root:
Projekt: arv
Namespace: "urn:ehd/arv/001", Präfix: arv
-->
<xs:schema xmlns:arv="urn:ehd/arv/001" xmlns="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ehd="urn:ehd/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der arv-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="arv_header_V4.02.xsd"/>
	<xs:import namespace="urn:ehd/arv/001" schemaLocation="arv_body_V4.02.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des EHD-root-Element definiert, welches das "header" und "body" sowie "keytabs"
	Elemnte enthält.
	======================================================================= -->
	<xs:element name="ehd" type="arv_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ======================================================================= 
	das abgeleitete arv_root_typ des Basistyps: ehd_root_typ
	======================================================================= -->
	<xs:complexType name="arv_root_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_root_typ">
				<xs:sequence>
					<xs:element name="header" type="arv_header_typ">
						<xs:annotation>
							<xs:documentation>alle Metainformationen zu den Daten</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="arv_body_typ">
						<xs:annotation>
							<xs:documentation>die eigentlichen Daten</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- ======================================================================= 
	arv_body_typ
	das abgeleitete arv_body_typ des Basistyps: ehd_body_typ
	======================================================================= -->
	<xs:complexType name="arv_body_typ">
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="arv:geltungsbereich_kv"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
