ITA-Update_2026_Q1/Blankoformulare/Ausfuellhilfe/Schnittstelle_Ausfuellhilfe_V1.00/Schema/afhi_root_V1.00.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) von Malisch, KBV (Kassenärztliche Bundesvereinigung) bearbeitet -->

<xs:schema xmlns:ehd="urn:ehd/001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:ehd/001" xmlns:afhi="urn:ehd/afhi/001" targetNamespace="urn:ehd/001" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="substitution">
	<!-- ======================================================================= 
	Einbinden der ehd-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="ehd_root_V1.40.xsd"/>
	<xs:include schemaLocation="keytabs_V1.40.xsd"/>
	<!-- ======================================================================= 
	Einbinden der afhi-Bibliotheken
	======================================================================= -->
	<xs:include schemaLocation="afhi_header_V1.00.xsd"/>
	<xs:import namespace="urn:ehd/afhi/001" schemaLocation="afhi_body_V1.00.xsd"/>
	<!-- ======================================================================= 
	EHD-root
	hier ist des ehd-root-Element definiert, welches "header" und "body" sowie "keytabs"
	Elemente enthält.
	======================================================================= -->
	<xs:element name="ehd" type="afhi_root_typ">
		<xs:annotation>
			<xs:documentation>root element ehd "eHealthData"</xs:documentation>
		</xs:annotation>
	</xs:element>
		<xs:complexType name="afhi_root_typ">
		<xs:sequence>
			<xs:element name="header" type="afhi_header_typ">
				<xs:annotation>
					<xs:documentation>alle Metainformationen zu den Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="afhi_body_typ">
				<xs:annotation>
					<xs:documentation>die eigentlichen Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="keytabs" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ehd_version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="afhi_body_typ">
		<xs:annotation>
			<xs:documentation>Inhalt der Ausfüllhilfe für ein bestimmtes Muster</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ehd_body_typ">
				<xs:sequence>
					<xs:element ref="afhi:ausfuellhilfen"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
